package main

import (
    "{{.rootpath}}/garf"
)

func main () {
    r := garf.Registry()
    s := r.Server()

    // Define your API global configuration here.
    // Example:
    // r.Set("URI", databaseURI)

    // Add your middleware here.
    // Example:
    // s.Use(example.Middleware())

    r.Configure()
    s.Run(":3000")
}
