package {{.LowerName}}

import (
	"github.com/backenderia/garf/registry"
	"github.com/backenderia/garf/server"
)

const (
    basePath = "/{{.LowerName}}"
)

type bundle struct {}

func New() registry.Bundle {
    return &bundle{}
}

func (b *bundle) Init(config map[string]interface{}) {
    // Configure bundle here
    // For example: database connection
}

// Register is called to register all routes from this bundle
func (b *bundle) Register(r server.Support) {
	r.Get(basePath+"/", b.handler(List))
	r.Post(basePath+"/", b.handler(Create))
	r.Get(basePath+"/:id", b.handler(Read))
	r.Put(basePath+"/:id", b.handler(Update))
	r.Del(basePath+"/:id", b.handler(Delete))
}
