package {{.LowerName}}

import (
	"github.com/backenderia/garf/registry"
	"github.com/backenderia/garf/server"
)

const (
    basePath = "/{{.LowerName}}/"
)

type bundle struct {
	server server.Handler
}

func New() registry.Bundle {
    return &bundle{}
}

func (b *bundle) Init(config map[string]interface{}) {
    // Configure bundle here
    // For example: database connection
}

// Register is called to register all routes from this bundle
func (b *bundle) Register(r server.Handler) {
	b.server = r

	route := r.Group(basePath)
	route.Get("", b.handler(List))
	route.Post("", b.handler(Create))
	route.Get(":id", b.handler(Read))
	route.Post(":id", b.handler(Update))
	route.Del(":id", b.handler(Delete))
}
