package {{.LowerName}}

import (
    "github.com/backenderia/garf/server"
)

func (b *bundle) prepare(c server.Context) {{.CapitalName}} {
	id := c.Param("id")

	q := {{.CapitalName}}{
		ID:   id,
	}

	return q
}

func (b *bundle) handler(f ModelHandler) server.HandlerFunc {
	return func(c server.Context) error {
		query := b.prepare(c)

		result, err := f(query)
		if err != nil {
			return c.Error(500, err)
		}

		return c.JSON(200, result)
	}
}
