package {{.LowerName}}

// ModelHandler represents all model functions on this package
type ModelHandler func ({{.CapitalName}}) ([]{{.CapitalName}}, error)

// List {{.CapitalName}}
func List(q {{.CapitalName}}) (res []{{.CapitalName}}, err error) {
    return
}

// Create {{.CapitalName}}
func Create(q {{.CapitalName}}) (res []{{.CapitalName}}, err error) {
    return
}

// Read {{.CapitalName}}
func Read(q {{.CapitalName}}) (res []{{.CapitalName}}, err error) {
    return
}

// Update {{.CapitalName}}
func Update(q {{.CapitalName}}) (res []{{.CapitalName}}, err error) {
    return
}

// Delete {{.CapitalName}}
func Delete(q {{.CapitalName}}) (res []{{.CapitalName}}, err error) {
    return
}
